h1 {
   border: 1px solid black;
   margin: 20px;
   text-align: center;
   text-transform: capitalize;
   font-size: large;
   color: white;
   background-color: #6149CD;
   border-radius: 3px;
   
   


}

.container {
   width: 250px;
   height: auto;
   border: 2px solid black;
   border-radius: 5px;
   background-color: #E6F1EA;
  
   
}
.img-photo {
   width: 100%;
   height: auto;
   margin-bottom: 0;
   opacity: 1;
   border-radius: 3px;
   box-shadow: 0 0 25px #162eb1;
  

}
/* .img-div:hover {
   object-fit:cover;
   object-position:center;
} */

.img-div{
   margin: 20px;
   height: auto;
   margin-bottom: 0px;
}
p {
   text-align:left;
   padding: 2px;
   word-spacing: 8px;
   font-size: 15px;
}
.footer {
   border: 1px solid none;
   margin: 20px;
   display: inline-block;
}
.btn {
   display: block;
   margin: 10px auto;
   padding: 20px;
   height: 40px;
   line-height: 1px;
   
   font-weight: bold;
   border-radius: 20px;
   color: white;
   background-color: #6149CD;
   border: 1px solid #6149CD;
   font-size: 20px;


   
}
.btn:hover {
   background-color: #229BB0 ;
   border: #229BB0;
   font-size:30px;
   padding: 25px;


}

.one {
   width: 400px;
   height: 300px;
   object-fit: cover ;
   object-position: center;
   aspect-ratio: 2/1;
}